.anchoTP{
    width: 100%;
    /*margin-top: 12%;*/
    padding: 0;
    border: solid 1.5px;
    display: inline-block;
    -webkit-box-shadow: -4px 4px 5px 2px rgba(77,77,77,1);
}

.plantilla{
    -webkit-box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.59);
    border-radius: 5px;
    display: flex;
    padding: 15px 20px;
    width: 90%;
    margin: 0 auto;
    background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

.tituloPlantilla{
    width: 100%;
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 2.5em;
}

.contenedor2{
    width: 100%;
}

.cardTemplate{
    padding-top: 4%;
}

.form{
    padding-top: 4%;
}

.contenedor3{
    width: 85%;
    margin: 0 auto 10px auto;
}
